* {
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
}

body {
  background-color: #ebeef3;
}

.navbar {
  background: #f9fafc;
  font-family: "DM Sans", sans-serif;

  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.logo a {
  font-size: 40px;
  font-family: "Darkline", sans-serif;
  color: #262626;
  margin-right: auto;
  padding-right: 40px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 70px;
}

li {
  list-style: none;
}

li a {
  color: #868686;
  font-size: 18px;
  text-decoration: none;
}

li a:hover {
  color: #262626;
}

.first {
  background-color: #b8c2ce;
  border-radius: 7px;
  border: none;
  padding: 12px;
  margin-left: 100px;
}

button a {
  color: #f9fafc;
  font-size: 15px;
  text-decoration: none;
}

button a:hover {
  color: #262626;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -60%);
  width: 600px;
  z-index: 1;
  filter: grayscale(100%);
  opacity: 0.1;
}

.img-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  z-index: 2;
  filter: grayscale(100%);
}

.img-side-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -60%);
  width: 270px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: fill;
}
.img-side-top img {
  transform: scale(1.5);
}

.img-side-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, 50%);
  width: 270px;
  height: 200px;
  margin-top: 20px;
  filter: grayscale(80%);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}
.img-side-bottom img {
  transform: scale(1.5);
}
.continue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 650%);
  width: 190px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #262626;
}

.today {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(448%, -520%);
  width: auto;
  padding: 10px;
  z-index: 2;
  border-radius: 7px;
  border: none;
  background-color: #262626;
}

.hero-section .h1 {
  font-family: "Sequel", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -90%);
  font-size: 38px;
  background-image: linear-gradient(#262626, #b8c2ce);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-section .desc {
  font-family: "DM Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  transform: translate(-53%, 300%);
  color: black;
}
.pic-text1 {

  display: block;
  background-color: linear-gradient(#ffffff00 #f8f8f8);
  text-align: left;
  padding: 10px;
  transform: translate(5%, -79%);
}
.side-head1 {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;

  text-align: left;
}
.side-desc1 {
  font-family: "Sequel", sans-serif;
  width: 200px;
  font-size: 16px;
  font-weight: 410;
  line-height: 19.82px;
  text-align: left;
}
.pic-text2 {
  background-image: linear-gradient(to top #ffffff00 100%, #f8f8f8 100%);
  text-align: left;
  padding: 10px;
  transform: translate(5%, -79%);
  z-index: 2;
  color: #dbd8d8;
}
.side-head2 {
  font-family: "DM Sans", sans-serif;

  font-size: 10px;
  font-weight: 500;
  line-height: 10.09px;
  text-align: left;
}
.side-desc2 {
  font-family: "Sequel", sans-serif;
  width: 200px;
  font-size: 16px;
  font-weight: 410;
  line-height: 19.82px;
  text-align: left;


}

.pic-text {
  position: relative;
  display: inline-block;
  color: #868686;
  font-size: 15px;
  margin-bottom: 2px;
}

.category {
  padding: 100px;
  padding-left: 310px;
  margin-top: 20px;
}

.category-text {
  font-size: 28px;
  font-weight: 1;
  margin-bottom: 20px;
  font-family: "Sequel", sans-serif;
}
.grid-container {
  gap: 20px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 240px 240px;
}
.grid-one {
  font-family: "Sequel", sans-serif;
  text-align: center;
  padding: 100px 20px;
  font-size: 40px;
  font-weight: 900;
  border-radius: 10px;
  background-color: #dce4ee;
  position: relative;
  overflow: hidden;
}
.grid-one span {
  background-image: linear-gradient(#262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-three {
  font-family: "Sequel", sans-serif;
  text-align: center;
  padding: 100px 20px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 10px;
  background-color: #dce4ee;
  position: relative;
  overflow: hidden;
}
.grid-three span {
  background-image: linear-gradient(#262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-six {
  font-family: "Sequel", sans-serif;
  text-align: center;
  padding: 100px 20px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 10px;
  background-color: #dce4ee;
  position: relative;
  overflow: hidden;
}
.grid-six span {
  background-image: linear-gradient(#262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-eight {
  font-family: "Sequel", sans-serif;
  text-align: center;
  padding: 100px 20px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 10px;
  background-color: #dce4ee;
  position: relative;
  overflow: hidden;
}
.grid-eight span {
  background-image: linear-gradient(#262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-two {
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  width: auto;
  height: auto;
}
.grid-four {
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  width: auto;
  height: auto;
}
.grid-five {
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  width: auto;
  height: auto;
}
.grid-seven {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  width: auto;
  height: auto;
}

.news-container {
  display: flex;
  padding-left: 20px;
  background-color: #dce4ee;
  border-radius: 10px;
  width: 1255px;
  margin: 0 auto;
  transform: translate(-0.5%);
}

/* .trending {
  flex: 2;
} */

.trending-text {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Sequel", sans-serif;
}
.li-d {
  font-family: "DM Sans", sans-serif;
  color: #868686;
}
.li-h {
  font-family: "Sequel", sans-serif;
}
.li-desc {
  font-family: "DM Sans", sans-serif;
  width: 240px;
}
.line1 {
  width: 350px;
  transform: translate(67%);
  background-color: #868686;
  height: 3px;
}
.li-d1 {
  font-family: "DM Sans", sans-serif;
  color: #868686;
}
.li-h1 {
  font-family: "Sequel", sans-serif;
}
.li-desc1 {
  font-family: "DM Sans", sans-serif;
  width: 240px;
}
.li-d2 {
  font-family: "DM Sans", sans-serif;
  color: #868686;
}
.li-h2 {
  font-family: "Sequel", sans-serif;
}
.li-desc2 {
  font-family: "DM Sans", sans-serif;
  width: 240px;
}

.trending-list {
  display: block;
  padding: 0;
  margin-right: 20px;
}

.trending-list li {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.trending-list img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
}

.trending-list p {
  margin: 5px 0;
}

.cycling-banner {
  flex: 2;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.cycling-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  transform: scale(1.66);
  filter: brightness(70%);
}

.category-label {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #dce4ee;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  border: solid 2px;
  border-color: #dce4ee;
  margin: auto;
  width: fit-content;
  z-index: 2;
  font-family: "DM Sans", sans-serif;
}

.cycling-text {
  color: white;
  transform: translate(2%, -40%);
  z-index: 2;
  font-family: "DM Sans", sans-serif;
  padding: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.cycling-text p {
  margin: 0;
  font-size: 14px;
}

.cycling-text h1 {
  font-family: "Sequel", sans-serif;
  margin: 10px 0 0;
  font-size: 35px;
  font-weight: bold;
}
.football2 {
  transform: translate(25%);
  width: 1255px;
  height: 588px;
  margin-top: 50px;
  background-color: #dce4ee;
  border-radius: 7px;
}
.football2 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transform: translate(0%, -10%);
  border-radius: 7px;
  filter: brightness(50%);
}

.football-label {
  transform: translate(-450%, 200%);
  color: #dce4ee;
  z-index: 3;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 7px;
  border: solid 2px;
  border-color: #dce4ee;
  margin: auto;
  width: fit-content;
}
.football2-text {
  transform: translate(5%, -165%);
  z-index: 2;
}
.football-dt {
  font-family: "DM Sans", sans-serif;
  color: #b8c2ce;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.football-headl {
  font-family: "Sequel", sans-serif;
  color: #f9fafc;
  font-family: Sequel Sans;
  font-size: 36px;
  font-weight: 435;
  width: 600px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.football-desc {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  width: 600px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.pagination {
  gap: 10px;
  transform: translate(80%, -550%);
}

.page-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}
.arrow-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.page-btn.active {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.page-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-btn:hover:not(.active):not(.disabled) {
  background-color: #ddd;
}

.recent-clubs {
  width: 1255px;
  height: 388px;
  transform: translate(25%);
  margin-top: 50px;
}
.recent {
  width: 630px;
  height: 350px;
}
.recent-left {
  width: 200px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  opacity: 0px;
  border-radius: 6px;
}
.recent-img img {
  margin-top: 59px;
  width: 100%;
  height: 100px;
  object-fit: cover;
  overflow: hidden;


}
/* .karate-text {
  transform: translate(0%,20%);
} */
.recent-right {
  width: 200px;
  height: 100%;
  transform: translate(200%, 36%);
}
.news-list {
  display: block;
  padding: 0;
  margin-right: 20px;
  transform: translate(-80%, -170%);
  margin-top: 59px;
}
.news-list li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 10px;
}
.news-list img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  overflow: hidden;
}
.news-list p {
  margin: 5px;
}
.news-dt {
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 500;
  line-height: 10.09px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.news-desc {
  font-family: Sequel Sans;
  font-size: 12px;
  font-weight: 410;
  line-height: 19.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.club {
  width: 630px;
  height: 100%;
  transform: translate(99%, -90%);
  z-index: 2;
}
.club-label {
  font-family: "Sequel", sans-serif;
  font-size: 28px;
  transform: translate(19%, 55%);
}
.club-table img {
  width: 20px;
  height: 20px;
}
.club-table {
  width: 80%;
  height: 80%;
  background-color: #dce4ee;
  font-family: "Sequel", sans-serif;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 120px;
  margin-top: 35px;
  padding: 20px;
}
.club-table th {
  text-align: left;
}
.club-name {
}
